.sibling-fade {
  visibility: hidden;
}

.sibling-fade > * {
  visibility: visible;
}

.sibling-fade > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.sibling-fade:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}

.sibling-fade > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

html {
  display: flex;
  height: 100%;
}
body {
  background: #55f096;
  padding: 10px;
  max-width: 40em;
  margin: auto;
}

.sibling-fade {
  display: flex;
  flex-wrap: wrap;
}

.sibling-fade > * {
  background: white;
  padding: 1rem;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: #55f06a;
  font-size: 1.5em;
  text-decoration: none;
}

.container {
  position: relative;
  width: 140%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #5871c3;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
